.more-skewed-right {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  border: solid 2px black;
  border-right: none;
  box-sizing: border-box;
  padding: 16px 40px;
  letter-spacing: 3px;
  margin: 10px;
}

.more-skewed-right:before,
.more-skewed-right:after {
  position: absolute;
  content: '';
  height: 50%;
  width: 100%;
  left: 0;
  border-right: 3px solid black;
  transition: all 1s ease-out;
}

.more-skewed-right:before {
  top: -2px;
  border-top: 2px solid black;
  transform-origin: left top;
  transform: perspective(100px) rotateX(30deg);
}

.more-skewed-right:after {
  bottom: -2px;
  border-bottom: 2px solid black;
  transform-origin: left bottom;
  transform: perspective(100px) rotateX(-30deg);
}

.more-skewed-right:hover {
  color: black;
}

.more-skewed-right:hover:before,
.more-skewed-right:hover:after {
  background: black;
}

.more-skewed-right span {
  position: relative;
  z-index: 1;
}



.more-skewed-left {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  border: solid 2px black;
  border-right: none;
  box-sizing: border-box;
  padding: 16px 40px;
  letter-spacing: 3px;
  margin: 10px;
}

.more-skewed-left:before,
.more-skewed-left:after {
  position: absolute;
  content: '';
  height: 50%;
  width: 100%;
  left: 0;
  border-right: 3px solid black;
  transition: all 1s ease-out;
}

.more-skewed-left:before {
  top: -2px;
  border-top: 2px solid black;
  transform-origin: left top;
  transform: perspective(100px) rotateX(30deg);
}

.more-skewed-left:after {
  bottom: -2px;
  border-bottom: 2px solid black;
  transform-origin: left bottom;
  transform: perspective(100px) rotateX(-30deg);
}

.more-skewed-left:hover {
  color: black;
}

.more-skewed-left:hover:before,
.more-skewed-left:hover:after {
  background: black;
}

.more-skewed-left span {
  position: relative;
  z-index: 1;
}

.parent {
  margin: 1rem;
  text-align: center;
}

.child {
  display: inline-block;
  border: 1px solid black;
  padding: 0.2rem 0.2rem;
  vertical-align: middle;
}

.alternative-input-container {
  border: 2px solid #000;
  padding: .5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  display: flex;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
}

.alternative-item {
  background-color: rgb(206, 237, 237);
  display: inline-block;
  padding: .5em .75em;
}

.alternative-item .close {
  height: 20px;
  width: 2px;
  background-color: rgb(239, 232, 232);
  color: rgb(11, 5, 5);
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: .5em;
  font-size: 18px;
}
.alternative-input {
  flex-grow: 1;
  padding : .5em 0;
  border:none;
  outline:none;
}