#HomepageContainer {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.CenterMain {
  background-color: transparent;
  background-image: linear-gradient(
    0deg,
    rgb(131, 109, 109),
    #303030,
    black,
    #1d1212
  );
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.LightModeHomeCenterMain {
  background-color: #f5f1eb;
  opacity: 0.76;
  background-image: none;
}

.MainMessageDiv {
  margin-top: 11vh;
  margin-bottom: 13vh;
  width: 70%;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  color: #f1f1f1;
}

.LightModeHomeMainMessageDiv {
  color: #454545;
  width: 90%;
}

.ButtonDiv {
  padding-left: 1vw;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
}

.LightModeHomeButtonDiv {
  color: #454545;
}
.ButtonMore {
  margin-bottom: 5vh;
  font-size: 1.5vw;
  color: white;
  background: transparent;
  background-color: Transparent;
  overflow: hidden;
  border: none;
}

.LightModeHomeButtonMore {
  color: #454545;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .MainMessageDiv {
    margin-top: 30vh;
    margin-bottom: 13vh;
    font-size: 6vw;
  }
  .ButtonDiv {
    font-size: 4vw;
  }
  .ButtonMore {
    font-size: 4vw;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .MainMessageDiv {
    margin-top: 30vh;
    margin-bottom: 13vh;
    font-size: 6vh;
  }
  .ButtonDiv {
    font-size: 4vh;
  }
  .ButtonMore {
    font-size: 4vh;
  }
}

.ArrowHome {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 0.3vw 0.3vw 0;
  display: inline-block;
  padding: 1vw;
}

.LightModeHomeArrow {
  border: solid #454545;
  border-width: 0 0.3vw 0.3vw 0;
}

@media screen and (max-width: 900px) {
  .LightModeHomeArrow {
    border-width: 0 0.8vw 0.8vw 0;
  }
}

.ReasonsToJoin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /* background-image: url("../../assets/HomeReasonsBackground.jpg"); */
  background-color: black; /* For browsers that do not support gradients */
  /* background-image: linear-gradient(180deg, rgb(100, 85, 85),#303030, black); */
  background-image: linear-gradient(180deg, rgb(131, 109, 109), #303030, black);
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.LightModeReasonToJoin {
  background-color: #e6e6e6;
  background-image: none;
  opacity: 1;
  height: 100%;
}
.ReasonFlexDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 60%;
  margin: auto;
  color: #f4f4f4;
}

@media screen and (max-width: 900px) {
  .ReasonFlexDiv {
    height: 65%;
  }
}

.LightModeReasonFlexDiv {
  color: #454545;
}
#reasonGradientText {
  padding-top: 5vh;
  padding-bottom: 5vh;
  line-height: 150%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 4.5vw;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(to right, hsl(325, 97%, 50%), hsl(61, 95%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* @supports (--css: variables) {
    background: linear-gradient(to right, red, yellow);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  } */
}

#reasonGrid {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  margin-top: 2em;
  width: 75vw;
  gap: 3vh;
}

.ReasonItem {
  padding-left: 8vw;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 4.5vw;
  text-align: left;
  line-height: 140%;
  opacity: 1;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  #reasonGradientText {
    font-size: 8vw;
    background: linear-gradient(to right, #ff9800, #ff9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ReasonItem {
    padding-left: 1vw;
    font-size: 7vw;
    width: 100%;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  #reasonGradientText {
    font-size: 6vh;
    background: linear-gradient(to right, #ff9800, #ff9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ReasonItem {
    padding-left: 1vw;
    font-size: 5vh;
  }
}
.JoinFormDiv {
  height: 100%;
  background-color: grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, rgb(39, 38, 38), rgb(0, 0, 0));
  opacity: 0.98;
  color: white;
}

.LightModeJoinFormDiv {
  background-color: #e6e6e6;
  background-image: none;
  color: #454545;
}

.AreaOfInterestDiv {
  padding-top: 1vh;
  background-color: #454545;
  background-image: linear-gradient(180deg, rgb(39, 38, 38), #454545);
  opacity: 0.94;
  height: 100%;
  color: white;
}

.LightModeAreaOfInterestDiv {
  background-color: #e6e6e6;
  background-image: none;
  height: 100%;
  color: #454545;
}

.TeamsDiv {
  background-color: #303030; /* For browsers that do not support gradients */
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0.98;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 0vh;
  padding-bottom: 0vh;
  /* justify-content: center; */
  text-align: center;
}

.TeamsImage {
  width: 100%;
  height: none;
}
@media screen and (min-width: 1300px) and (orientation: landscape) {
  .TeamsDiv {
    flex-direction: row;
    background-color: black;
  }
  .TeamsImage {
    width: none;
    height: 100%;
  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  .TeamsDiv {
    background-color: black;
  }
  .TeamsImage {
    /* padding-top: 25vh; */
    width: 100%;
    height: none;
    /* display: inline-block; */
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .TeamsImage {
    /* padding-top: 25vh; */
    width: 100%;
    height: none;
    /* display: inline-block; */
  }
}

.LightModeTeamsDiv {
  background-color: white;
  background-image: none;
  height: 100%;
}

.VideoHomePageDiv {
  background-color: #303030; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, rgb(82, 79, 79), #303030);
  opacity: 0.95;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.LightModeVideoHomePageDiv {
  background-color: #e6e6e6;
  background-image: none;
  height: 100%;
}

.UniversitiesMapDiv {
  background-color: #303030; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #303030, rgb(82, 79, 79));
  height: 100%;
  color: white;
}

.LightModeUniversitiesMapDiv {
  background-color: #e6e6e6;
  background-image: none;
  color: #454545;
}
.ContactLeadersDiv {
  background-color: #303030;
  margin-top: 0vh;
  height: 100%;
  color: white;
}
.LightModeContactLeadersDiv {
  background-color: #e6e6e6;
  height: 100%;
  color: #454545;
}
