rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /researchers/{fullname} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && fullname == request.auth.token.name;
    }
    match /users/{fullname} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && (fullname == request.auth.token.name || 
                    exists(/databases/$(database)/documents/researchers/$(request.auth.token.name)));
    }
    match /tutorial/{fullname} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /explanations/{explaId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /applications/{applId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /activities/{activityId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.fullname == request.auth.token.name;
    }
    match /votes/{voteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.fullname != request.auth.token.name
                    && request.resource.data.voter == request.auth.token.name;
    }
    match /instructors/{instructorId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.fullname == request.auth.token.name;
    }
    match /dayInstructors/{dayInstructorId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.fullname == request.auth.token.name;
    }
    match /instructorVotes/{instructorVoteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.fullname != request.auth.token.name
                    && request.resource.data.voter == request.auth.token.name;
    }
    match /researcherLogs/{researcherId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /userLogs/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /activityLogs/{activityId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /instructorsLogs/{instructorId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /voteLogs/{voteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /instructorVoteLogs/{instructorVoteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /dayUpVotes/{dayUpVoteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.voter == request.auth.token.name;
    }
    match /dayInstructorUpVotes/{dayInstructorUpVoteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.voter == request.auth.token.name;
    }
    match /dayOneUpVotes/{dayOneUpVoteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                    && request.resource.data.voter == request.auth.token.name;
    }
    match /expSessions/{expSessionId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /notTakenSessions/{notTakenSessionId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /feedbackCodeBook/{feedbackCodeBookId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /feedbackCodes/{feedbackCodeId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /approvedFeedbackCodes/{approvedFeedbackCodeId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /passages/{passageId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /conditions/{conditionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /tags/{tagId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /schedule/{sessionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /resSchedule/{sessionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /recallGrades/{recallGradeId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /feedbackCodeBooks/{feedbackCodeBookId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /feedbackCodes/{feedbackCodeId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /courses/{courseId} {
      allow read: if true;
      allow write: if false;
    }
    match /contacts/{contactId} {
      allow read: if request.auth != null
                    && exists(/databases/$(database)/documents/researchers/$(request.auth.token.name));
      allow write: if request.auth != null
                    && exists(/databases/$(database)/documents/researchers/$(request.auth.token.name));
    }
    match /misinformationExp/{misinformationExpId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }
    match /mVotes/{mVoteId} {
      allow read: if true;
      allow write: if true;
    }
    match /projectSpecs/{projectId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}