/* #TimePickerContainer {
  display: grid;
  grid-template-columns: auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 1% auto 0%;
  width: 100%;
  height: 37px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 13px;
} */

.TimePickerContainer {
  display: grid;
  grid-template-rows: 40px auto;
  margin-right: 19px;
}

.TimeSlotsColumn {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.TimeSlot {
  border: lightblue 1px solid;
  height: 19px;
  padding: 4px;
}
