
.VideoDiv{
    height:100%;
    width:96%;
    margin:0;
    display: inline-block; 
}

@media screen and (max-width: 900px) and (orientation:portrait) {
    .VideoDiv {
     height:50%;
     padding-top: 50%;
    }
}
  @media screen and (max-width: 900px)  and (orientation:landscape){
    .VideoDiv {
     height:100vh;
     padding-top: 2vh;
    }
}

