.headline {
  margin-bottom: 0%;
  padding-top: 1vh;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 33px;
}

.gradientText{
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 3.8vw;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(to right,hsl(325, 97%, 50%), hsl(61, 95%, 50%) );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  /* @supports (--css: variables) {
    background: linear-gradient(to right, red, yellow);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  } */
}

#albumDiv{
  margin-top: 0%;
  padding-top: -4px;
}
#subAlbum{
  display:flex;
  flex-direction:row;
}
.CarouselDiv{
  width:80%;
  height: 50vh; 
  margin: 0
}
.subfieldContent{
  width: 20vw;
  height: 5vh;
  background-color: #303030;
}
.subFieldTextDiv{
  text-align: center;
  padding-top: 1vh;
  font-size: 1vw;
}
.ContentImage{
  height:35vh;
}
.SubFiledImage{
  height:8vh;
  width:5vw;
 }

#AreasOfInterestArrows {
  margin-top: -4px;
}

.ChevronLeft.MuiButtonBase-root {
  background-color: #444444;;
  margin-left: 5vw;
}
.LightModeChevronLeft.MuiButtonBase-root {
  background-color: #ecd7b3;
  margin-left: 5vw;
}

.ChevronRight.MuiButtonBase-root {
  background-color: #444444;
  margin-right: 5vw;
}

.LightModeChevronRight.MuiButtonBase-root {
  background-color: #ecd7b3;
  margin-right: 5vw;
}
.ArrowAlbum{
  color:white;
}

.ArrowAlbum:hover{
  color:black !important;
}

@media screen and (max-width: 900px) and (orientation:portrait){
  .headline {
    padding-top: 15vh;
    font-size: 3vw;
  }
  .gradientText {
    font-size: 5.3vw;
    background: linear-gradient(to right,#FF9800, #FF9800 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ContentImage{
    height:30vh;
  } 

  .ChevronLeft.MuiButtonBase-root {
    background: transparent;
    margin-left: 5vw;
  }
  .ChevronRight.MuiButtonBase-root {
    background:transparent;
    margin-right: 5vw;
  }
  .ArrowAlbum{
    color:rgba(252, 138, 0, 0.995);
  }
  
  .ArrowAlbum:hover{
    color:rgb(253, 182, 89) !important;
  }
}

@media screen and (max-width: 900px) and (orientation:landscape){
  .headline {
    padding-top: 1vh;
    font-size: 4vh;
  }
  .gradientText {
    font-size: 6vh;
    margin-bottom: 3vh;
    background: linear-gradient(to right,#FF9800, #FF9800 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ContentImage{
    height:30vh; 
  } 

  .ChevronLeft.MuiButtonBase-root {
    background: transparent;
    margin-left: 5vw;
  }
  .ChevronRight.MuiButtonBase-root {
    background:transparent;
    margin-right: 5vw;
  }
  .ArrowAlbum{
    color:rgba(252, 138, 0, 0.995);
  }
  
  .ArrowAlbum:hover{
    color:rgb(253, 182, 89) !important;
  }
}