#LogoButton {
  position: absolute;
  width: 73px;
  height: 100px;
  left: 63px;
  top: 0px;
  right: 0px;
}
.DrawerButton {
  border-radius: 2;
  background-color: transparent;
  padding: 2px 2px;
  font-size: 5vw;
  text-transform: none;
  width: 40vw;
  box-shadow: none;
  outline: none;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .DrawerButton {
    font-size: 5vh;
    width: 20vw;
  }
}

.ThemeSwitcherDiv {
  width: 15%;
  padding-top: 10px;
}
.RightNavBarContentDiv {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.AppBarButton.MuiButtonBase-root {
  background: transparent;
  color: #f1f1f1;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  margin-left: 25px;
  text-transform: none;
}
.LightModeAppBarButton.MuiButtonBase-root {
  color: #606161;
}

.AppBarButton.MuiButtonBase-root:hover {
}

.LightModeAppBarButton.MuiButtonBase-root:hover {
}

.DrawerPaperLight {
  background-color: #fae9ce;
  width: 50vw;
}

.DrawerPaperDark {
  background-color: #757472;
  width: 50vw;
}
