#UserThemeSwitchesHome {
    width: auto;
    border:"1px solid red"
  }
  
  /* To resolve the Materialize and Material CSS conflict on the switch. We need to resolve these later. */
  #UserThemeSwitchesHome [type="checkbox"] + span:not(.lever):before,
  #UserThemeSwitchesHome [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    content: unset;
  }
  #UserThemeSwitchesHome [type="checkbox"] + span:not(.lever) {
    padding-left: unset;
    height: 19px;
  }
  
  #UserThemeSwitchesHome .MuiSwitch-colorSecondary.Mui-checked {
    color: #ee5e00;
  }
  
  #UserThemeSwitchesHome .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #ff7f2a;
  }
  
  #UserThemeSwitchesHome .MuiSwitch-track {
    background-color: #a7a7a7;
  }
  
  #UserThemeSwitchesHome .RowSwitch {
    flex-direction: row;
  }
  
  #UserThemeSwitchesHome.SwitchEmoji {
    font-size: 34px;
    line-height: 37px;
  }
  
  #UserThemeSwitchesHome .RowSwitch {
    font-size: 15.1px;
    line-height: 37px;
    color: #f6f6f6;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .LightMode #UserThemeSwitchesHome .RowSwitch {
    color: #454545;
  }
  
  #UserThemeSwitchesHome .RowSwitch .RowSwitchItem {
    width: 130px;
  }
  
  #UserThemeSwitchesHome .RowSwitch .RowSwitchItem.Left {
    text-align: center;
  }
  #UserThemeSwitchesHome .RowSwitch .RowSwitchItem.Right {
    text-align: center;
  }
  
  #UserThemeSwitchesHome .RowSwitch .RowSwitchSelected {
    text-decoration: underline;
    text-decoration-color: #ee5e00;
    text-underline-offset: 10px;
  }
  
  #UserThemeSwitchesHome .RowSwitch .Center {
    margin: 0 auto;
  }