#ConceptMappingInputContainer {
  border: 1px solid orange;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ConceptMapRow {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}

.CMapArrow {
  margin-left: 7px;
  margin-top: 28px;
}

#CMapSubmitContainer {
  width: 100%;
  text-align: center;
}

#CMapSubmitBtn {
  margin-top: 19px;
  margin-bottom: 10px;
  background-color: orange;
}

#CMapContainer {
  width: 100%;
  height: 100%;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 1px;
}
.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.AutoRow {
  margin-top: 10px;
}
